.welcomeHeader {
	text-align: center;
}

.welcomeContainer article {
	border: 1px solid #696969;
	border-radius: 10px;
	padding: 15px 15px;
	text-align: center;
	margin-bottom: 10px;
}

.stepIcon {
	width: 2rem;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto 10px;
	background: white;
	color: #202124;
	border-radius: 50%;
}

.welcomeContainer .colSpan2 {
	grid-column: 1 / span 2;
}

.getStartedButton {
	text-align: center;
	padding-top: 1rem;
}

.productHunt {
	text-align: center;
	display: block;
	margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
	.welcomeContainer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1rem 1rem;
	}

	.welcomeContainer article {
		padding: 15px 30px;
		margin-bottom: 0;
	}
}
