.container {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	border-bottom: 1px solid #696969;
}

.label {
	width: 100%;
	background: transparent;
	height: 36px;
	display: flex;
	align-items: center;
}

.colorPreview {
	min-width: 0 !important;
	padding: 18px !important;
	margin-left: 10px !important;
	border-radius: 0 !important;
}

.popover {
	position: absolute;
	z-index: 250;
	margin-left: -175px;
}

.cover {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
