.container {
	padding: 0 25px;
	padding-bottom: calc(40vh - 64px);
}

.colorCategories {
	font-family: "Roboto";
	width: 100%;
}

.colorCategory {
	flex: none;
	width: 100%;
}

.instructions {
	margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
	.container {
		padding: 0;
	}

	.colorCategories {
		display: inline-flex;
		flex-direction: row;
	}

	.colorCategory {
		flex: 1;
		padding: 0 25px;
	}

	.colorCategory:first-child {
		padding-left: 0;
	}

	.colorCategory:last-child {
		padding-right: 0;
	}
}
