.container {
	position: absolute;
	top: 64px;
	left: 2vw;
	right: 2vw;
	bottom: 0;
	width: 96vw;

	display: grid;
	grid-template-rows: 5fr 2fr;
	grid-gap: 2vh;

	overflow: hidden;
	color: white;
	user-select: none;
}

.controls {
	overflow: scroll;
}

.browser {
	overflow: hidden;
}
