.container {
	position: absolute;
	top: 64px;
	left: 2vw;
	right: 2vw;
	bottom: 0;
	width: 96vw;

	color: white;
	user-select: none;
}

.controls {
	overflow: scroll;
}

.browser {
	background: #161717;
	width: 96vw;
	height: 100vh;
	position: fixed;
	bottom: -75vh;
}
