.container {
	width: calc(100% - 4vw);
	margin: 0 2vw;
	padding-bottom: 20vh;
	font-family: "Roboto";
}

.headerContainer {
	margin: 0 2vw;
}

.titleContainer {
	display: block;
}

.siteTitle {
	margin-bottom: 3px;
}

.subtitle {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 400;
	font-size: 1.25em;
}

.currentEditing {
	text-align: left;
	display: block;
}

.preTitle {
	margin-bottom: 0;
	font-weight: 400;
}

.title {
	margin-top: 0;
}

.mainContent {
	display: block;
}

.colorCategories {
	display: block;
	width: 100%;
}

.colorCategory {
	padding: 0 25px;
	flex: none;
	width: calc(100% - 30px);
}

.colorPicker {
	margin-top: 25px;
	display: block;
	width: 100%;
	text-align: center;
}

.colorPickerPicker {
	display: inline;
	margin: 0 auto;
}

.colorPickerPicker div {
	margin: 0 auto;
}

.button {
	transition: transform 0.2s linear;
}

.button:focus {
	outline: none;
}

.button:hover {
	cursor: pointer;
	transform: translateY(-2px);
}

.button:active {
	transform: translateY(1px);
}

.clearBoth {
	clear: both;
}

.downloadButton {
	border: none;
	padding: 10px 20px;
	font-size: 1.25em;
	background: #325998;
	color: white;
	border-radius: 5px;
	margin-top: 10px;
	width: 12.5rem;
}

.welcomeHeader {
	text-align: center;
}

.welcomeContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem 1rem;
}

.welcomeContainer article {
	border: 1px solid #696969;
	border-radius: 5px;
	padding: 15px 75px;
	text-align: center;
}

.stepIcon {
	width: 2rem;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto 10px;
	background: white;
	color: #202124;
	border-radius: 50%;
}

.welcomeContainer .colSpan2 {
	grid-column: 1 / span 2;
}

.getStartedButton {
	text-align: center;
	padding-top: 1rem;
}

@media only screen and (min-width: 768px) {
	.headerContainer {
		display: inline-flex;
		flex-direction: row;
		width: 100%;
		margin: 0;
	}

	.headerContainer div {
		flex: 1;
	}

	.titleContainer {
		display: inline;
	}

	.currentEditing {
		text-align: right;
	}

	.colorCategory {
		flex: 1;
	}

	.colorCategory:first-child {
		padding-left: 0;
	}

	.colorCategory:last-child {
		padding-right: 0;
	}

	.colorPickerPicker {
		float: right;
	}

	.mainContent {
		display: flex;
		flex-direction: row;
	}

	.colorCategories {
		width: auto;
		display: inline-flex;
		flex-direction: row;
		flex-grow: 5;
	}

	.colorPicker {
		margin-top: 0;
		width: auto;
		flex-grow: 1;
		text-align: right;
	}
}
